* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
*::-moz-selection {
    color: $color_selection_text;
    background: $color_selection_bg;
}
*::selection {
    color: $color_selection_text;
    background: $color_selection_bg;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
input::-moz-placeholder {
    color: $color_placeholder;
}
input::-webkit-input-placeholder {
    color: $color_placeholder;
}
input:-ms-input-placeholder {
    color: $color_placeholder;
}
input::-ms-input-placeholder {
    color: $color_placeholder;
}
input::placeholder {
    color: $color_placeholder;
}
input {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section {
    position: relative;
}
textarea,
input {
    font-family: $font;
}
body {
    font-size: 18px;
    font-family: $font;
    line-height: 110%;
    min-width: 320px;
    color: $color_black;
    
    background-color: $color_bg;
    touch-action: pan-x pan-y;
    scroll-behavior: smooth;
    & > #__site_wrapper {
        overflow: hidden;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: $header_height;
    transition: 0.2s;
    @media (max-width: $tablet) {
        padding-top: $header_height_tablet;
    }
    @media (max-width: $mobile) {
        padding-top: $header_height_mobile;
    }
}