@font-face {
	font-family: 'SB Sans Display';
	src: url('../fonts/SBSansDisplay-Regular.eot');
	src: local('SB Sans Regular'), local('SBSansDisplay-Regular'),
		url('../fonts/SBSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SBSansDisplay-Regular.woff') format('woff'),
		url('../fonts/SBSansDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SB Sans Display';
	src: url('../fonts/SBSansDisplay-Bold.eot');
	src: local('SB Sans Bold'), local('SBSansDisplay-Bold'),
		url('../fonts/SBSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SBSansDisplay-Bold.woff') format('woff'),
		url('../fonts/SBSansDisplay-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SB Sans Display';
	src: url('../fonts/SBSansDisplay-Light.eot');
	src: local('SB Sans Light'), local('SBSansDisplay-Light'),
		url('../fonts/SBSansDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SBSansDisplay-Light.woff') format('woff'),
		url('../fonts/SBSansDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SB Sans Display';
	src: url('../fonts/SBSansDisplay-SemiBold.eot');
	src: local('SB Sans SemiBold'), local('SBSansDisplay-SemiBold'),
		url('../fonts/SBSansDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SBSansDisplay-SemiBold.woff') format('woff'),
		url('../fonts/SBSansDisplay-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SB Sans Display';
	src: url('../fonts/SBSansDisplay-Thin.eot');
	src: local('SB Sans Thin'), local('SBSansDisplay-Thin'),
		url('../fonts/SBSansDisplay-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SBSansDisplay-Thin.woff') format('woff'),
		url('../fonts/SBSansDisplay-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

