a {
    text-decoration: none;
    color: $color_primary;
    transition: 0.2s;
    &:focus,
    &:hover {
        opacity: 0.8;
    }
    &.__self {
        // display: inline;
        border-bottom: 1px dashed $color_primary;
    }
    &.__default {
        color: inherit;
    }
}
.actions {
    display: flex;
    margin: -8px;
    flex-wrap: wrap;
    &.__noWrap {
        flex-wrap: nowrap;
    }
    & > * {
        margin: 8px;
    }
}
main {
    letter-spacing: 0.02em;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: normal;
    font-style: normal;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.s1,
.s2,
.s3,
.s4,
p,
.b1,
.b2,
.d1,
ul,
ol,
.image,
.actions {
    margin-top: 24px;
    margin-bottom: 24px;
    @media (max-width: $tablet) {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    @media (max-width: $mobile) {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
ul,
ol {
    & > li {
        margin: 16px 0;
        @media (max-width: $tablet) {
            margin: 12px 0;
        }
        @media (max-width: $mobile) {
            margin: 8px 0;
        }
    }
}
h1,
.h1 {
    font-weight: 700;
    font-size: 130px;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    @media (max-width: $tablet) {
        font-size: 78px;
    }
    @media (max-width: $mobile) {
        font-size: 56px;
    }
}
h2,
.h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;

    @media (max-width: $tablet) {
        font-size: 32px;
    }
    @media (max-width: $mobile) {
        font-size: 28px;
    }
}
h3,
.h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    @media (max-width: $tablet) {
        font-size: 20px;
    }
    @media (max-width: $mobile) {
        font-size: 18px;
    }
}

.s1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;

    @media (max-width: $tablet) {
        font-size: 28px;
    }
    @media (max-width: $mobile) {
        font-size: 24px;
    }
}
.s2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    @media (max-width: $tablet) {
        font-size: 20px;
    }
    @media (max-width: $mobile) {
        font-size: 18px;
    }
}
.b1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

    @media (max-width: $tablet) {
        font-size: 18px;
    }
    @media (max-width: $mobile) {
        font-size: 16px;
    }
}
.b2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    @media (max-width: $tablet) {
        font-size: 16px;
    }
    @media (max-width: $mobile) {
        font-size: 14px;
    }
}
.bt1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

    @media (max-width: $tablet) {
        font-size: 18px;
    }
    @media (max-width: $mobile) {
        font-size: 16px;
    }
}
.bt2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

    @media (max-width: $tablet) {
        font-size: 16px;
    }
    @media (max-width: $mobile) {
        font-size: 14px;
    }
}
// .d1 {
//     font-size: 16px;
//     line-height: 96%;
//     font-weight: 400;

//     @media (max-width: $desktop) {
//         font-size: 14px;
//     }
//     @media (max-width: $tablet) {
//         font-size: 12px;
//     }
//     @media (max-width: $mobile) {
//         font-size: 10px;
//     }
// }
p {
    max-width: 1192px;
}

section {
    position: relative;

    padding: 64px 0;

    &:first-child {
        padding-top: calc(#{$header_height} + #{$header_height});
    }
    footer &:first-child {
        padding-top: 64px;
    }
    &:not(:first-child) {
        // margin-top: 112px;

        @media (max-width: $tablet) {
            padding: 32px 0;
        }
        @media (max-width: $mobile) {
            padding: 24px 0;
        }
    }
    @media (max-width: $tablet) {
        padding: $header_height_tablet 0 48px;
        &:first-child {
            padding-top: calc(#{$header_height_tablet} + #{$header_height_tablet});
        }
        footer &:first-child {
            padding-top: 32px;
        }
    }
    @media (max-width: $mobile) {
        padding: $header_height_mobile 0 32px;
        &:first-child {
            padding-top: calc(#{$header_height_mobile} + #{$header_height_mobile});
        }
        footer &:first-child {
            padding-top: 24px;
        }
    }
    &.__screen {
        min-height: 100vh;
    }
}
footer {
    z-index: 30;
}
ul {
    list-style: none;
    padding-left: 0;
    li {
        font-size: 32px;
        line-height: 140%;
        font-weight: 400;

        @media (max-width: $tablet) {
            font-size: 16px;
        }
        &:before {
            content: "—";
            margin-right: 8px;
        }
    }
}
@mixin wrappedRow() {
    margin: -8px;
    &.__grid.__noMargin > .col,
    & > .col {
        margin: 16px;
        width: calc(100% - 32px);
        @media (max-width: $mobile) {
            margin: 8px;
            width: calc(100% - 16px);
        }
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
    @media (max-width: $mobile) {
        margin: -8px;
    }
    & > .col {
        margin: 16px;

        @media (max-width: $mobile) {
            margin: 8px;
        }
    }
}
.col {
    &.__flexed {
        display: flex;
        flex-direction: column;
    }
    &.__col_100 {
        flex-basis: calc(100% - 40px);
    }
    &.__col_50 {
        flex-basis: calc(50% - 40px);
    }
    &.__col_66 {
        flex-basis: calc(((100% / 3) * 2) - 40px);
    }
    &.__col_33 {
        flex-basis: calc((100% / 3) - 40px);
    }
}
.__justify {
    &_end {
        justify-content: flex-end;
    }
    &_start {
        justify-content: flex-start;
    }
    &_stretch {
        justify-content: stretch;
    }
    &_center {
        justify-content: center;
    }
    &_between {
        justify-content: space-between;
    }
}
.__align {
    &_end {
        align-items: flex-end;
    }
    &_start {
        align-items: flex-start;
    }
    &_stretch {
        align-items: stretch;
    }
    &_center {
        align-items: center;
    }
}

.container {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: $container;
    margin: 0 auto;
    @media (max-width: $tablet) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.image {
    &.__fullWidth {
        width: 100%;
    }
}
.btn {
    padding: 16px 24px 14px;
    border-radius: 8px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    position: relative;
    z-index: 10;
    user-select: none;
    cursor: pointer;
    @media (max-width: $tablet) {
        font-size: 18px;
    }
    @media (max-width: $mobile) {
        font-size: 16px;
    }
    &.__primary {
        color: $color_white;
        background-color: $color_green;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            box-shadow: 0px 15px 25px rgba(33, 160, 56, 0.27);
            border-radius: 8px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            border-radius: 8px;
            box-shadow: 0px 4px 10px #21a038, 0px 25px 90px rgba(33, 160, 56, 0.45),
                0px 15px 25px rgba(33, 160, 56, 0.7);
        }
        &:focus,
        &:hover {
            &:before {
                transition: 0.1s;
                opacity: 1;
            }
        }
        &:active {
            &:after {
                transition: 0.001s;
                opacity: 1;
            }
        }
    }
    &.__secondary {
        color: $color_black;
        background-color: $color_white;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            box-shadow: 0px 15px 25px rgba(33, 160, 56, 0.27);
            border-radius: 8px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            border-radius: 8px;
            box-shadow: 0px 4px 10px #21a038, 0px 25px 90px rgba(33, 160, 56, 0.45),
                0px 15px 25px rgba(33, 160, 56, 0.7);
        }
        &:focus,
        &:hover {
            color: $color_white;
            background-color: $color_green;
            &:before {
                transition: 0.1s;
                opacity: 1;
            }
        }
        &:active {
            &:after {
                transition: 0.001s;
                opacity: 1;
            }
        }
    }
    &.__tretiary {
        color: $color_white;
        background-color: $color_pink;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            box-shadow: 0px 15px 25px rgba(255, 0, 102, 0.29);
            border-radius: 90px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            border-radius: 90px;
            box-shadow: 0px 4px 10px #ff0066, 0px 25px 90px rgba(255, 0, 102, 0.45),
                0px 15px 25px rgba(255, 0, 102, 0.7);
        }
        &:focus,
        &:hover {
            &:before {
                transition: 0.1s;
                opacity: 1;
            }
        }
        &:active {
            &:after {
                transition: 0.001s;
                opacity: 1;
            }
        }
    }
    &.__fourtiary {
        color: $color_black;
        background-color: $color_gray;
        border-radius: 90px;
        @include transition();
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            box-shadow: 0px 15px 25px rgba(255, 0, 102, 0.29);
            border-radius: 90px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            border-radius: 90px;
            box-shadow: 0px 4px 10px #ff0066, 0px 25px 90px rgba(255, 0, 102, 0.45),
                0px 15px 25px rgba(255, 0, 102, 0.7);
        }
        &:focus,
        &:hover {
            background-color: lighten($color_pink, 40%);
            &:before {
                transition: 0.1s;
                opacity: 1;
            }
        }
        &:active {
            background-color: lighten($color_pink, 20%);
            &:after {
                transition: 0.001s;
                opacity: 1;
            }
        }
    }
    &.reset__filter {
        color: $color_black;
        background-color: transparent;
        border-radius: 90px;
        @include transition();
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            box-shadow: 0px 15px 25px rgba(255, 0, 102, 0.29);
            border-radius: 90px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            animation: pulse 2s infinite;
            opacity: 0;
            transition: 0.5s;
            border-radius: 90px;
            box-shadow: 0px 4px 10px #ff0066, 0px 25px 90px rgba(255, 0, 102, 0.45),
                0px 15px 25px rgba(255, 0, 102, 0.7);
        }
        &:focus,
        &:hover {
            background-color: lighten($color_pink, 40%);
            &:before {
                transition: 0.1s;
                opacity: 1;
            }
        }
        &:active {
            background-color: lighten($color_pink, 20%);
            &:after {
                transition: 0.001s;
                opacity: 1;
            }
        }
    }
    &.__disabled {
        pointer-events: none;
        background-color: $color_gray;
        opacity: 0.6;
    }
    ._icon {
        margin-right: 16px;
        margin-top: -40px;
        margin-bottom: -10px;
        margin-left: -8px;
        img {
        }
    }
    &:hover,
    &:focus,
    &:active {
        opacity: 1;
    }
    @keyframes pulse {
        0% {
            filter: opacity(0.5);
        }
        50% {
            filter: opacity(1);
        }
        100% {
            filter: opacity(0.5);
        }
    }
}
.__text {
    &_left {
        text-align: left;
    }
    &_center {
        text-align: center;
    }
    &_right {
        text-align: right;
    }
    &_justify {
        text-align: justify;
    }
}

.__modal {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: none;
    align-items: center;
    justify-content: center;
    // color: $color_text_black;
    &.__active {
        pointer-events: all;
        .__modal_shadow {
            opacity: 1;
            transition: 0.4s;
        }
        .__modal_outer {
            transform: none;
            opacity: 1;
        }
        .__modal_close {
            opacity: 1;
            transform: none;
        }
    }
    &.__visible {
        display: flex;
    }
    &.__z_top {
        z-index: 92;
    }
    &.__noClose {
        .__modal_close {
            display: none !important;
        }
    }
    &.__autoWidth {
        .__modal_scroller {
            width: auto;
            max-width: calc(100vw - 32px);
        }
    }
    &.__calendar {

        .__modal_inner {
            width: 360px;
            padding: 16px;

            .bestCalendar {
                width: 100%;
            }

            @media (max-width: $mobile) {
                width: 300px;
            }
        }
    }
    .__modal_shadow {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.2s 0.2s;
        backdrop-filter: blur(20px);
        // background: transparentize($color_bg_black, 0.5);
    }
    .__modal_close {
        position: absolute;
        right: 0;
        bottom: calc(100% + 16px);
        width: 48px;
        height: 48px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s;
        transform: scale(0);
        opacity: 0;
        backdrop-filter: blur(20px);
        background-color: transparentize($color_white, 0.6);
        @include transition();
        &:hover {
            background-color: transparentize($color_white, 0.4);
        }
        &:active {
            background-color: transparentize($color_white, 0.2);
        }
        @media (max-width: $mobile) {
            width: 32px;
            height: 32px;
        }
        span {
            content: "";
            position: absolute;
            width: 60%;
            height: 2px;
            background-color: $color_black;
            transition: 0.2s;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }
    .__modal_outer {
        position: relative;
        transition: 0.4s;
        opacity: 0;
        transform: translateY(64px) scale(0.8);
    }
    .__modal_scroller {
        @include scrollWithoutScroll();
        max-width: $container;
        max-height: 100vh;
        width: calc(100vw - 32px);
    }
    .__modal_inner {
        margin: 104px 0 64px;
        background: $color_white;
        border-radius: 24px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media (max-width: $tablet) {
            padding: 48px 32px;
        }
        @media (max-width: $mobile) {
            margin: 64px 0 64px;
            padding: 32px 16px;
        }
    }
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color_white;
    padding: 32px;
    border-radius: 24px;
    max-width: 460px;
    width: 100%;
    .__modal & {
        margin: -32px;
        width: calc(100% + 64px);

        @media(max-width: $tablet) {
            margin: -48px -32px;
        }

        @media(max-width: $mobile) {
            margin: -32px -16px;
            width: auto;
        }
    }
    &.__small {
        max-width: 360px;
        .form__actions {
            width: calc(100% + 16px);
            &>* {
                flex-grow: 1;
            }
        }
    }
    .form__title {
        text-align: center;
        // margin: 0;
    }
    .form__subtitle {
        margin-top: 0;
        margin-bottom: 16px;
    }
    .form__row {
        display: flex;
        margin: -8px;
        align-self: stretch;

        &:not(:first-child) {
            margin-top: 4px;
        }
    }
    .form__col {
        margin: 8px;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    .form__item {
        display: flex;
        flex-direction: column;
        &.__error {
            .textBox {
                input {
                    border-color: $color_pink;
                    color: $color_pink;
                }
            }
            .checkBox {
                label:before {
                    border-color: $color_pink;
                }
                input:checked+label:before {
                    border-color: $color_green;
                }
            }
            .form__item_error {
                opacity: 1;
                height: auto;
            }
        }
        &.__success {
            input {
                border-color: $color_green;
                color: $color_green;
            }
        }
    }
    .form__item_error {
        margin-top: 4px;
        font-size: 12px;
        color: $color_pink;
        opacity: 0;
        transition: 0.2s;
        height: 0;
        overflow: hidden;
    }
    .form__item_sign {
        color: #BEC7DF;
        margin-top: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .form__actions {
        margin: 0;
        margin-top: 16px;
    }
    .form__info {
        margin: 0;
        margin-top: 8px;
        margin-bottom: -16px;
        flex-direction: column;
        align-items: center;
        & > a {
            padding-top: 2px;
        }
    }
}
.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &.__copy {
        input {
            cursor: pointer;
        }
        &.__copied {
            &:before {
                opacity: 1;
            }
        }
        &:before {
            content:'Скопировано';
            position: absolute;
            background: $color_white;
            font-size: 11px;
            padding: 4px;
            right: 24px;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 24px;
            opacity: 0;
            pointer-events: none;
            transition: 0.2s;
            color: $color_black;
            z-index: 10;
        }
        &:after {
            content:'';
            position: absolute;
            background: url(../assets/icon__input_copy.svg) no-repeat center center;
            width: 24px;
            height: 24px;
            right: 24px;
            top: 0;
            bottom: 0;
            margin: auto;
            pointer-events: none;
        }
        input {
            padding-right: 64px;
        }
    }
    &.__error {
        input {
            
            border-color: $color_pink;
            color: $color_pink;
        }
    }
    input {
        width: 100%;
        font-family: $font;
        padding: 14px 24px 10px;
        border: 1px solid #e1e7f6;
        border-radius: 8px;
        background-color: $color_white;
        transition: 0.2s;
    }
}
.checkBox {
    position: relative;
    input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    label {
        padding-left: 36px;
        display: block;
        margin: 0;
        padding-top: 8px;
        // padding-bottom: 10px;
        user-select: none;
        cursor: pointer;
        &:hover {
            &:before {
                border: 2px solid transparentize($color_green, 0.2);
            }
        }

        &:before {
            content: "";
            width: 20px;
            height: 20px;
            border: 2px solid transparentize($color_green, 0.6);
            border-radius: 2px;
            position: absolute;
            top: 5px;
            left: 0;
            transition: 0.2s;
        }
        &:after {
            content: "";
            width: 20px;
            height: 20px;
            background: url(../assets/icon__check_white.svg) no-repeat center center;
            opacity: 0;
            transform: scale(0.6);
            top: 5px;
            left: 0;
            position: absolute;
            transition: 0.2s;
        }

        a {
        }
    }
    input:checked + label {
        &:before {
            background-color: $color_green;
        }
        &:after {
            transform: none;
            opacity: 1;
        }
    }
}
.table {
    width: 100%;
    background-color: $color_white;
    border-radius: 24px;
    overflow: hidden;
    @include scrollWithoutScrollHorizontal();
    @media (max-width: $mobile) {
        margin-left: -16px;
        margin-right: -16px;
        width: calc(100% + 32px);
    }
    
    &.__visible {
        display: block;
        transition: 0.4s;
    }
    &.__active {
        opacity: 1;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            &:nth-child(2n + 1) {
                background-color: $color_gray;
            }
            &:first-child {
                background-color: transparent;
                box-shadow: 0px 15px 35px #e1e7f6;
            }
        }
        th,
        td {
            padding: 12px;
            &:first-child {
                padding-left: 40px;
                @media (max-width: $tablet) {
                    padding-left: 24px;
                }
                @media (max-width: $tablet) {
                    padding-left: 16px;
                }
            }
            &:last-child {
                padding-right: 40px;
                @media (max-width: $tablet) {
                    padding-right: 24px;
                }
                @media (max-width: $tablet) {
                    padding-right: 16px;
                }
            }
        }
        th {
            text-align: left;
            // background-color: $color_white;
            // &:first-child{
            //     border-radius: 24px 0 0 0;
            // }
            // &:last-child {
            //     border-radius: 0 24px 0px 0px;
            // }
        }
        td {
            // padding: 4px;
        }
        .__right {
            text-align: right;
        }
    }
}

.sideMenu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;

    &.__active {
        .sideMenu__outer {
            pointer-events: all;
            transform: none;
            opacity: 1;
        }

        .sideMenu__inner {
            opacity: 1;
        }

        .sideMenu__shadow {
            opacity: 1;
            transition: 0.4s;
        }

        .sideMenu__el {
            transform: none;
            opacity: 1;
        }
    }

    .sideMenu__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: 0.2s 0.4s;
        backdrop-filter: grayscale(1);
        // background: transparentize($color_bg_black, 0.9);
    }

    .sideMenu__outer {
        position: absolute;
        // left: 0;
        // top: 0;
        // bottom: 0;
        min-width: 260px;
        // width: 34vw;
        // background-color: $color_bg_white;
        transition: 0.6s cubic-bezier(0.33, 0, 0, 1);
        pointer-events: none;
        opacity: 0;
        transform-origin: right top;
        transform: scale(0);
        @include topBottomFaders(32px, $color_white);
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 0px 24px;
        overflow: hidden;

        @media (max-width: 767px) {
            min-width: auto;
            width: 100vw;
        }

        @media (max-width: $tablet) {
            right: 0 !important;
            border-radius: 0px 0px 24px 24px;
        }
    }

    .sideMenu__scroller {
        width: 100%;
        flex-grow: 1;
        @include scrollWithoutScroll();
    }

    .sideMenu__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: 0.4s;
        justify-content: space-between;
        opacity: 0;
        background-color: $color_white;
        padding: 0 32px 32px;

        @media (max-width: $tablet) {
            padding: $header_height_tablet 24px 32px;
        }

        @media (max-width: $mobile) {
            padding: $header_height_mobile 16px 32px;

            text-align: center;
            align-items: center;
        }
    }

    ._profileBox {
        height: 0;
        overflow: hidden;
        border-bottom: 1px solid $color_pink;
        padding-right: 64px;
        display: flex;
        align-items: center;

        .profile {
            visibility: hidden;
            pointer-events: none;
        }

        @media (max-width: $tablet) {
            justify-content: center;
            padding-right: 0;
            height: 12px;

            .profile {
                box-shadow: none;
            }
        }

        @media (max-width: $mobile) {
            height: calc(#{$header_height_mobile});

            .profile {
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    ._menuBox {
        // padding: 24px 32px;
        margin-top: 24px;

        ._menu {
            display: flex;
            flex-direction: column;

            a {
                color: $color_black;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;

                &:not(:first-child) {
                    margin-top: 32px;
                }
            }
        }
    }
}