$color_white: #ffffff;
$color_black: #1d2023;

$color_gray: #e1e7f6;
$color_gray_light: #f6f8fb;
$color_gray_dark: #bec7df;

$color_pink: #ff0066;
$color_green: #21a038;
$color_clever: #31c2a7;
$color_golden: #ffcc00;
$color_orange: #ff8000;
$color_green_light: #57C98E;

$gradient_blue_green: linear-gradient(93.1deg, #dbecff 34.87%, #aeffb1 131.04%);
$gradient_orange_beige: linear-gradient(91.04deg, #ff9d0b 16.74%, #ffbf73 50.9%);

$shadow_pink: 5px 35px 80px #FFE4C3;
$shadow_green: 5px 35px 80px #C6F5C6;
$shadow_clever: 5px 35px 80px #FEB2D2;
$shadow_golden: 5px 35px 80px #FFFB77;
$shadow_orange: 5px 35px 80px #BFF9ED;

$color_primary: $color_green;
// $color_primary_hover: #c4131c;
// $color_primary_active: #a40911;

$color_secondary: $color_pink;

// $color_border: $color_primary;

$color_selection_text: white;
$color_selection_bg: $color_primary;

$color_placeholder: transparentize($color_black, 0.45);

$color_bg: $color_gray_light;

$header_height: 82px;
$header_height_tablet: 64px;
$header_height_mobile: 64px;

// $container_main: 1440px;
$container: 1200px;

$tablet: 768px;
$mobile: 495px;

$font: "SB Sans Display", "Helvetica", sans-serif;
// $fontAlt: 'Atyp Display', 'Helvetica', sans-serif;

@mixin scrollWithoutScroll() {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}
@mixin scrollWithoutScrollHorizontal() {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-height: none;
    &::-webkit-scrollbar {
        height: 0px;
        background: transparent;
    }
}
@mixin transition() {
    transition: 0.2s;
    &:hover {
        transition: 0.05s;
    }
    &:hover {
        transition: 0.02s;
    }
}
@mixin topBottomFaders($height: 16px, $color: $color_black, $inset: 0%) {
    &:before,
    &:after {
        content: "";
        display: block;
        left: 0;
        right: 0;
        height: $height;
        position: absolute;
        pointer-events: none;
        z-index: 2;
    }
    &:before {
        top: 0;
        background: linear-gradient(to bottom, $color $inset, transparentize($color, 1));
    }
    &:after {
        bottom: 0;
        background: linear-gradient(to top, $color $inset, transparentize($color, 1));
    }
}
